# Use the following channels when building a conda environment:
#   --override-channels -c bioconda -c conda-forge -c defaults

# Packages required to run Snakemake
python>=3.10.0
snakemake-minimal=7.22.0

# Packages used by the pyclient module
attrs=22.2.0
defopt=6.4.0
typing_extensions=4.4.0

